Fails to properly parse URLs with the wrong slash

*What I wanted:* To download pages from Naval Vessel Register
 
*What I expect:* To have properly downloaded pages from the Navel Vessel Register

*What happened:* Pages returned 404

*The command or website causes the problem:* wpull http://www.nvr.navy.mil/QUICKFIND/SHIPSDETAIL_ACTIVE_H.HTML --recursive --level 1 --no-check-certificate --no-robots --ignore-fatal-errors --no-directories --wait 0.5 --random-wait --content-on-error --output-file output.txt

*Operating system:* Windows 10

*Python version:* Python 3.5.2

*Wpull version:* 2.0.1

*Log/Output:* 
```
2017-09-24 01:17:43,254 - wpull.processor.web - INFO - Fetching ‘http://www.nvr.navy.mil/QUICKFIND/..\SHIPDETAILS\SHIPSDETAIL_DDG_97_1770.HTML’.
2017-09-24 01:17:43,318 - wpull.processor.web - INFO - Fetched ‘http://www.nvr.navy.mil/QUICKFIND/..\SHIPDETAILS\SHIPSDETAIL_DDG_97_1770.HTML’: 404 Not Found. Length: 3800 [text/html].
2017-09-24 01:17:43,836 - wpull.processor.web - INFO - Fetching ‘http://www.nvr.navy.mil/QUICKFIND/..\SHIPDETAILS\SHIPSDETAIL_SSN_776_1977.HTML’.
2017-09-24 01:17:43,900 - wpull.processor.web - INFO - Fetched ‘http://www.nvr.navy.mil/QUICKFIND/..\SHIPDETAILS\SHIPSDETAIL_SSN_776_1977.HTML’: 404 Not Found. Length: 3800 [text/html].
2017-09-24 01:17:44,513 - wpull.processor.web - INFO - Fetching ‘http://www.nvr.navy.mil/QUICKFIND/..\email.HTML’.
2017-09-24 01:17:44,598 - wpull.processor.web - INFO - Fetched ‘http://www.nvr.navy.mil/QUICKFIND/..\email.HTML’: 404 Not Found. Length: 3800 [text/html].
```

wpull seems to interpret URLs with the wrong slash differently than browsers. ArchiveBot job 1xruq9x9x3kkcmahie8vdrrbz is a case where this posed a serious problem.

Another case of people writing broken HTML and browser vendors working around it instead of forcing people to comply to the standards. Ugh.

Backslashes used to be invalid in URLs, see section 2.4.3 in [RFC 2396](https://www.ietf.org/rfc/rfc2396.txt). In HTML5, it was defined that backslashes are accepted as a "willful violation" of the spec and be replaced with forward slashes. This can still be found in the current [URL Standard](https://url.spec.whatwg.org/), e.g. in the examples at the beginning of section 4; the exact details are very complex and hard to decipher, but as far as I can see, backslashes are treated the same as forward slashes (for "special" URLs, i.e. http(s), ftp, file, etc.), except they trigger a validation error. Cf. [this wonderful bug report for Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=backslash) including the numerous duplicates, and [this other Firefox bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=652186) regarding the current (HTML5) situation.